*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 justify-content: center;
  }

  body {
    background-color: rgb(253, 253, 253);
    color: rgb(5, 5, 5);
    font-family: "Poppins", sans-serif;
    margin: 0;
  }

.nav_flex{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}


#main{
  width: 91px;
  height: 34px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
button{
text-decoration: none;
}

.dropdown-content a:hover {color: rgb(61, 119, 167);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: rgb(61, 119, 167);}



.main2{
  width: 35%;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}

#searchbar{
  width: 93%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid black;
  color: beige;
}


.login{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 80px;
  height: 43px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1rem;
}
.signup{
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 80px;
  height: 43px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1rem;
}

#lang{
  height:43px ;
  border: 1px solid black;
  align-items: center;
  padding: 8px;
  background-color: white;
}


  #first img{
    width: 90%;
    height: 90%;
    margin-left: 70px;
}

  .show{
    background-color: #fff;
    width: 34rem;
    left: 9rem;
    top: 9.5rem;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem;
    
  }
  .show h1{
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -.05rem;
  }
  .show p,
  .show2 p{
    display: block;
    font-size: 15px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.grp1 img{
width: 10%;
height: 20%;
}

.grp2 img{
  width: 10%;
  height: 20%;
  }





.show2{
  margin: 5%;
  justify-content: space-evenly;
  align-items: center;
  border-color: solid white;
  border: 1px;
}

.show2 h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100px;
  font-size: 40px;
}

summary{
  font-weight: bold;
  color: rgb(8, 8, 8);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 30px;
}





.showw{
    margin-top: 100px;
    padding:40px ;
    padding-left:-20px;
    background-color: #f7f9fa;
  }

  .showw h2{
    font-size: 18px;
    font-weight: 800;
    padding-left: -20px;
  }



.show4{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-gap: 1.5rem;
  justify-content:start;
  gap:14%;
  font-size: 15px;

}

.show4 li{
  list-style-type: none;
}

.show4 ul li {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color:#6a3ed5;
font-weight: bold;

}

.show4 p{
  color: #616462;
  }

.explore_btn{
background-color: rgba(255, 255, 255, 0);
width: 150px;
height: 40px;
font-weight: bold;
margin-bottom: 3%;
border: 1px solid rgb(41, 39, 39);
}



.show5 h2{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;

}
.show5{
  padding: 6%;
  margin-bottom: 5%;
}
.show5 p{
  text-align: center;
  padding-top: 0;
  padding-bottom: 2%;
}

.flex{
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  grid-gap: 1.5rem; 
  margin-top: 0;
  padding:10px ;
  padding-left:-20px;
}

.show6 {
  position: relative;
  display: inline-grid;
grid-template-columns: 40% 50%;
text-align: left;
align-items: center;
padding-left: 200px;
}

.dis-left{
  padding-left: 200px;
}

.dis-left p{
  font-size: x-large;
  font-weight: bold;
}

.inside{
    list-style-position: inside;
}

.inside li{
  margin: 8px;
}



.showw6 {
  position: relative;
  display: inline-grid;
  grid-template-columns: 80% 100%;
  text-align: left;
  padding: 25px 45px 50px;
  }

.dis-right{
  font-size: x-large;
  font-weight: bold;
  display: flex;
}

.dis-right img{
  margin-left: 500px;
}

footer{
    background-color: black;
    max-width: 100%;
    margin: 1rem auto;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 1.5rem;
    color: #fff;
  }

  footer button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 5%;
    left: auto;
}

  footer li{
    list-style-type: none;
  }

footer ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #fff;
}








.main{
  width: 100%;
  padding: 0 40px;
  display: flex;
  margin-top: 0;
  justify-content: center;
}

.wrapper{
  width: 100%;
  display: grid;
  gap: 10px;
}


.post-wrapper{
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 10px;
  padding-right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}
.post-wrapper::-webkit-scrollbar{
  display: none;
}

.post-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-pic{
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding: 3px;
}

.post-pic img{
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
}

.title{
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.line{
  display: flex;
  background-color: #f7f9fa;
  margin-top: 30px;
  height: 100px;
  align-content: center;
  font-size: 16px;
}

.line-1{
  padding: 0 20px;
  font-weight: bold;
}
.line-2{
  padding: 0 20px;
  font-weight: bold;
}

.line-3{
  padding: 0 20px;
  font-weight: bold;
}

.line-1:before{
  content: url(images/play.png);
}

.line-2:before{
  content: url(images/star.png);
}
.line-3:before{
  content: url(images/link.png);
}

.sv{
padding: 40px 0;
}

.sv h2{
 margin-left: 40px;
  }

  .butto {
    background-color: black;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: 2px;
    border-color: white;
  }